.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
  }
  
  .toolbar-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .toolbar-title h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .toolbar-user-info {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 25px;
    font-weight: bold;
  }
  
  .user-role {
    font-size: 0.9rem;
  }
  
  .user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;

  }
  