.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: white;
    padding-top: 1rem;
    position: fixed;
    transition: width 0.3s;
}

.nav-link {
    color: white;
    padding: 10px;
    text-align: left;
}

.nav-link:hover {
    background-color: #495057;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.collapsed {
    width: 60px;
}

button.nav-link {
    width: 100%;
    text-align: left;
}

.hidden {
    display: none;
}
