<div class="container mt-4">
    <!-- Seção Avaliações -->
    <div class="row mb-4">
      <h2>Avaliações</h2>
      <div class="col-md-4 mb-4" *ngFor="let avaliacao of avaliacoes">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ avaliacao.nome }}</h5>
            <p class="card-text">Matéria: {{ avaliacao.materia }}</p>
            <p class="card-text">Data: {{ avaliacao.data }}</p>
            <button class="btn btn-primary" (click)="verMaisAvaliacao(avaliacao)">Ver Mais</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Seção Matérias -->
    <div class="row mb-4">
      <h2>Matérias</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let materia of materias">
          {{ materia }}
        </li>
      </ul>
    </div>
  
    <!-- Seção Cursos Extras -->
    <div class="row mb-4">
      <h2>Cursos Extras</h2>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let curso of cursosExtras">
          {{ curso }}
        </li>
      </ul>
    </div>
  </div>
  